<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 결제 수단 관련 쿼리를 담는 Mapper -->
<mapper namespace="mydogcherry.kr.gongcha.mappers.IPaymentMapper">

    <!-- 지불 방법 순번(`index`) 값을 입력받아 해당 지불 방법의 정보를 조회하는 쿼리문 생성 -->
    <select id="selectPayment" resultType="mydogcherry.kr.gongcha.entities.payment.PaymentEntity">
        SELECT `index`          AS `index`,
               `title`          AS `title`,
               `first_content`  AS `firstContent`,
               `second_content` AS `secondContent`,
               `logo_image`     AS `logoImage`
        FROM `payment`.`consume_service`
        WHERE `index` = #{index}
    </select>
</mapper>