<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> <!-- 머그잔 메뉴 소개 페이지 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 디자인은 th:href 경로에 설정한 menu.css 파일 참조 -->
    <link rel = "stylesheet" th:href="@{/menu/resources/stylesheets/menu.css}" type = "text/css">
    <title>머그잔</title>
</head>
<th:header th:replace="~{/fragments/header.html :: header}"></th:header> <!-- 헤더 페이지를 가져온다. -->
<body>
    <div class="menu-type"> <!-- 각 종류의 메뉴 조회 페이지로 들어갈 수 있는 링크 창을 만들어준다. -->
        <a th:href="@{/menu/seasonmenu}">
            <p><img th:src="@{/menu/resources/images/beverage.png}" width="22" height="22">&nbsp;음료</p>
        </a>|
        <a th:href="@{/menu/bingsu}">
            <p><img th:src="@{/menu/resources/images/bingsu.png}" width="22" height="22">&nbsp;빙수</p>
        </a>|
        <a th:href="@{/menu/dessert}">
            <p><img th:src="@{/menu/resources/images/dessert.png}" width="22" height="22">&nbsp;디저트</p>
        </a>|
        <a th:href="@{/menu/mug}">
            <p><img th:src="@{/menu/resources/images/mug.png}" width="22" height="22">&nbsp;머그잔</p>
        </a>
    </div>

    <!-- 머그잔 메뉴를 소개해주는 창을 만든다.
    해당 div 창의 배경은 머그잔이 있는 이미지를 첨부한다. -->
    <div class="introduce-mug"
        th:style="'background-image:url('+ @{/menu/resources/images/mug_background.jfif} +');'">
        <p class = "mug">머그잔</p>
    </div>
    <div class="menu-introduce">
        <p align="center">머그잔</p> <!-- 머그잔 메뉴임을 어필하고 -->
        <div class="menu-window"> <!-- Model 기능을 써서 담은 빙수 메뉴를 하나씩 정렬해준다. -->
            <div class="menu" th:each="mug : ${mugs}" th:object="${mug}">
                <!-- 클릭하면 머그잔 메뉴 순번을 컨트롤러 주소에 입력해서 홈 페이지 주소가 생기도록 하이퍼링크를 만든다. -->
                <a th:href="@{'/menu/mug/' + *{getIndex()}}">
                    <img th:src="@{'/menu/resources/images/mug/' + *{getImageFile()}}"
                    width="250" height="294"> <!-- 해당 메뉴 이미지 첨부 -->
                </a>
                <p th:text="*{getMenu()}"></p> <!-- 이미지 밑에 메뉴 이름 표시 -->
            </div>
        </div>
    </div>
</body>
<th:footer th:replace="~{/fragments/footer.html :: footer}"></th:footer> <!-- 푸터 페이지를 가져온다. -->
</html>